version: "3.8"

services:
  redis:
    image: redis:latest
    container_name: redis_server
    ports:
      - "6379:6379"

  memcache:
    image: memcached:alpine
    container_name: memcache_server
    ports:
      - "11211:11211"
